{% extends 'base.html.twig' %}

{% block title %}Edit Type{% endblock %}

{% block body %}
    <h3 class="text-center">Modifier le type de véhicule</h3>
<div class=" d-flex justify-content-sm-center ">

    {{ include('type/_form.html.twig', {'button_label': 'Modifier'}) }}
</div>
<div class="text-center">
    {{ include('type/_delete_form.html.twig') }}
    <a href="{{ path('app_type_index') }}">back to list</a>

    </div>

{% endblock %}
