*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background-color: #283618;
    height: 80px;
    width: 100%;
}

.logo{
    font-family: 'Cormorant Garamond', serif;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    color: #968633;
    text-decoration: none;
}

.logo:hover{
    text-decoration:none;
    color:#968633;
    transition: .5s;
}

nav ul{
    font-family: 'Cormorant Garamond', serif;
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 3px;
}

nav ul li a:hover{
    text-decoration: underline;
    color: #968633;
    transition: .5s;
}

/* a:hover{
    text-decoration:underline;
    color: #968633;
    transition: .5s;
} */

.footer{
    background-color: #283618;
    height: 100px;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30%;
}

.footer-col{
    width: 30%;
    padding: 1% 5%;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500px;
    position: relative;
}

.footer ul{
    font-family: 'Cormorant Garamond', serif;
    list-style: none;
}

