{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <h1>Réserver</h1>

    {{ include('reservation/_form.html.twig') }}
    
   
        {# {{ dump(client) }} #}
    
    
    <a href="{{ path('app_reservation_index') }}">Retour au catalogue</a>
{% endblock %}
