{% extends 'base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block body %}
<div class="hero-image-cov">
    <div class=" inscription">
            <h1 class="text-center">M'inscrire</h1>
            <div class="">
                {{ include('utilisateur/_form.html.twig') }}
            </div>
            
    </div>
</div>


{% endblock %}
