<form action="{{ path('app_voiture_filtre') }}" method="get">
        <label for="marque"></label>
        <input type="" name="" id="">
        <label for=""></label>
        <input type="" name="" id="">
        <input type="submit" value="Rechercher">
</form>